.game-screen-container {
    height: 100%;
    width: 100%;
}

.gamescreen-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gamescreen-row-item {
    padding: 20px;
}

.loading {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 60px
}